<br>

<form #booksform="ngForm">
  <div class="align-self-end">

      <div class="alert alert-success alert-dismissible" *ngIf="isItemAdded">
        <a (click)="onClose()"  class="close" data-dismiss="alert" aria-label="close">&times;</a>
          {{cartCount }} Item are added to cart!
      </div>

    </div>

    <div class="card card-header"> Books </div>
    <div class="card card-body">
        <div class="row px-2 pt-2">
            <div class="col-md-3 card-container" *ngFor="let book of books">
            <div class="card text-center product p-3 pt-3" style="width: 18rem;">
                <a href="bookdetail/{{book.bookId}}">
                    <img class="img-fluid d-block" src="{{apiPath + book.thumbnailPath}}" alt="">
                </a>
                <div class="card-body py-0">
                <h5 class="card-title font-weight-semi-bold">{{book.bookTitle}}</h5>
                <p class="price">Rs. {{book.price}}</p>
                </div>
                <p>
                  <button class="btn-sm btn-primary" (click)="addToCart(book.bookId)" > Add To Cart</button>
                </p>
            </div>
            </div>
        </div>
    </div>
    <div class="card card-footer"> </div>

</form>



